
body {
     font-family: Roboto, sans-serif;
     margin: 0;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 20px;
}
img {width: 100%;}
li {
    justify-content: center;
    bottom: auto;
    font-size: 18px;
    cursor: pointer;
}
.cards{
    display: flex;
}
.card{
    
    padding: 20px;
    background-color: lightgray;
    border-radius: 30px;
    width: 30%;
}

header{
    background-color: aqua;
}
body{
    background-color: beige;
}
footer{
    background-color: aliceblue;
}

@media screen and (max-width: 1080px){
 .card{width: 50%;}
}

@media screen and (max-width:768px) {
    .cards{display: block;}
 .card{width: 100%;}
 .body{justify-content: center;}
}